{% extends "base.html" %}
{% load static %}

{% block cssContent %}
<style>
	.hero-image {
		background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            ),url("{% static 'brew/images/coffeestuff.jpg' %}");
		background-repeat: no-repeat;
    	background-size: cover;
    	background-position: center;
    	height: 350px; 
    	margin-bottom: 0 !important;
	}

	.header-color{
		background: white;
	}
	.header-size{
		margin:0;
		font-weight:bold;

	}
	#myTab {
		background-color: #F5F4F4;
		font-size: 18px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.28);
	}
	#myTab a{
		color: #787978;

	}
	#myTab li.active a{
		border-bottom: 5px solid #04D5FD;
		color:black;
	}
	#myTab li a{
		padding:10px 30px;
	}
	
	.navbar{
		height: 20px !important;
		margin-bottom: 0 !important;
		border-bottom: black;
		background-color: #F5F4F4;
		
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.28);


	}
	#navbarSupportedContent li a{
		border-color: black;
		color:black;
		font-size: 12px;
	}
	

	.profile-list{
		background: rgba(19, 19, 19, 0.26);
	}

	hr {
	border-top: 1px solid #FFFFFF;
	}

	.list-item{
		background: #c79034;
		margin-bottom: 15px;
		box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.25); 
	}
	.no-list-item{
		
		max-height: 100px;
		background: #c79034;
		box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.25);
	}
	.no-list-item:hover{
		background: #af7d2b;
	}
	div button a{
		font-size: 18px;
	}
	.list-container{
		margin-top:10px;
		
		
	}
</style>
{% endblock %}
{% block content %}
		<div class = 'jumbotron hero-image d-flex justify-content-start align-items-end'>
			<div class = 'container'>
			<div class='row'>
				<div class='col text-right'>
				<a href="{% url 'brew:logout' %}" style = 'font-size:15px;' class='link'>Log Out</a>
				</div>
			</div>
			<div class='row text-left' style='padding-top:75px'>
				<h1> Coffee Tracker</h1>
			</div>

			<div class='row text-left'>
				<button class='clear-button'><a href="{% url 'brew:new_brew' %}">New Brew</a></button>
				<button class='clear-button'><a href="{% url 'brew:new_roast' %}">New Roast</a></button>
			</div>
		</div>
		</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link" id="brew-tab" data-toggle="tab" href="#brew" role="tab" aria-controls="brew" aria-selected="true">Brew</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="roast-tab" data-toggle="tab" href="#roast" role="tab" aria-controls="roast" aria-selected="false">Roast</a>
  </li>
</ul>

 
<div class="tab-content">
  <div class="tab-pane active" id="brew" role="tabpanel" aria-labelledby="brew-tab">
  	<div class='list-container container'>
  	{% if brew_list %}
  		
			{% for brew in brew_list %}

  			<div class='row list-item' style="padding-top: 20px;">

  					<div class= 'col'>
  				
						<h3>{{brew.coffee_name}}</h3>  
						<h4>
						{% if brew.roastery %}
								Roastery: {{brew.roastery}}
							{% else %}
								{% if brew.home_roast %}
									Home Roast: {{brew.home_roast}}
	
							{% endif %}
							{% endif %}
							</h4>
						<p>{{brew.get_roast_levels_display}} Roast - {{brew.get_methods_display}}</p>
					</div>
					<div class='col d-flex'>
						<p style="align-self: flex-end; margin-bottom:10px;">{{brew.get_stars_display}}</p>
					</div>
					<div class= 'push-md-col d-flex'>
						<span style="align-self: flex-end; margin-bottom:10px; margin-right: 30px;">
						<a style='margin-right: 15px;' class='link' href="{% url 'brew:brew_profile' brew.id %}">View</a>
						<a class='link' href="{% url 'brew:update_brew' brew.id %}">Edit</a>
						</span>
					</div>	
			</div>
				
			{% endfor %}

			{% else %}
				<div class='container d-flex h-100 justify-content-center no-list-item'>
					<div class='row text-center align-self-center'>
						<h2>Coffee Please</h2>
					</div>
				</div>
		
	
				{% endif %}
		</div>
			
					
  	</div>
  		
 
  <div class="tab-pane" id="roast" role="tabpanel" aria-labelledby="roast-tab">
  <div class='list-container container'>
  	{% if roast_list %}
  	
		{% for roast in roast_list %}
	
  			<div class='row list-item' style="padding-top: 20px;">
  					<div class= 'col'>
  				
						<h3>{{roast.get_origin_display}} . {{roast.roast_name}}</h3> 
						
						<p>{{roast.get_roast_levels_display}} Roast</p>
						
					</div>
					<div class= 'push-md-col d-flex'>
						<span style="align-self: flex-end; margin-bottom:10px; margin-right: 30px;">
						<a style='margin-right: 15px;' class='link' href="{% url 'brew:roast_profile' roast.id %}">View</a>
						<a class='link' href="{% url 'brew:update_roast' roast.id %}">Edit</a>
					</span>
					</div>
	
						
				</div>
				
			{% endfor %}
	
	{% else %}
	<div class='container d-flex h-100 justify-content-center no-list-item'>
			<div class='row align-self-center'>
				<h2>Get Roasting!</h2>
			</div>
	</div>
	
	{% endif %}
	</div>
	</div>	
  
</div>

{% endblock %}