{% extends 'base.html' %}
{% load static %}
{% block cssContent %}
<style>
  #base {
    background-image: url("{% static 'brew/images/bluebeans.jpg' %}");
    background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

  }
  .center {
    margin: 0 auto;
    width: 80%;
}
  input{
    width: 100%;
    height: 30px;
}

</style>
{% endblock %}

{% block content %}

<div class='container-fluid login-box justify-content-center'>
	<div class='row'>
		<div class="center" style='margin-top: 10px !important;'>
      <h1>Register</h1>>
			<div class="centerBlock">
  			<form method="post">
  			{% csrf_token %}

  			{{ form.non_field_errors }}

        	<div class="fieldWrapper">
        	{{ form.username.errors }}
        	<h4>Username</h4>
        	{{ form.username }}
    		</div>

        	<div class="fieldWrapper" style="margin-top: 20px;">
        	{{ form.password1.errors }}
        	<h4>Password</h4>
        	{{ form.password1 }}
    		</div>

        	<div class="fieldWrapper" style="margin-top: 20px;">
        	{{ form.password2.errors }}
        	<h4>Retype Password</h4>
        	{{ form.password2 }}

    		</div>
         
  			<button class='clear-login-button' type="submit">Get Started</button>
  			

			</form>
			<div class='text-center'>
  				<a class='link' href="{% url 'brew:login' %}">Have an account?</a>
  			</div>
		</div>
		</div>
	</div>
{% endblock %}