{% extends "base.html" %}
{% load static %}

{% block cssContent %}
<style>
	#base {
		background-image: url("{% static 'brew/images/bluebeans.jpg' %}");
		background-repeat: no-repeat;
    	background-size: cover;
    	background-position: center;

	}

  input{
    width: 100%;
    height: 30px;
}
  

</style>
{% endblock %}

{% block content %}
<div class='container-fluid login-box justify-content-center'>
	<div class='row'>
		<div class="center" style='margin-top: 10px !important;'>
      <h1>Log In</h1>
			<form method="post">
  			{% csrf_token %}

  			{{ form.non_field_errors }}

        	<div class="fieldWrapper">
        	{{ form.username.errors }}
        	<h4>Username</h4>
        	{{ form.username }}
    		</div>

        	<div class="fieldWrapper" style="margin-top: 20px;">
        	{{ form.password.errors }}
        	<h4>Password</h4>
        	{{ form.password }}
    		</div>
         
  			<button class='clear-login-button' type="submit">Login</button>

			</form>
			<div class='text-center'>
  				<a class='link' href="{% url 'brew:register' %}">Create an Account.</a>
  		</div>
		</div>
		</div>
	</div>
</div>

{% endblock %}


